## Module 1: Introduction to Everything

### Alifa Nadhira Putri_STMIK Amik

# [Sesi Pagi]

### STRING

In [1]:
print('hello')
print()
print('This is also a string')

hello

This is also a string

### VARIABLES

In [3]:
s = 'New York'
print(s)
print(type(s)) #string type
print(len(s)) #string length

New York
<class 'str'>
8

### STRING INDEXING

In [4]:
s = 'Hello World'

print(s) 
print() 

print(s[0]) #Show first element in 's'
print()

print(s[1]) #Show the second element in 's'

Hello World

H

e

### STRING CONCATENATION & REPETITION

In [7]:
#Concatenation
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2) #combining 's1',' ', and 's2'


#Repetition
print("Hello Hai " * 3) #repeating a string 3 times
print("-" * 10) #repeating a string 10 times

Hello World
Hello Hai Hello Hai Hello Hai
----------

### STRING SLICING & INDEXING

In [10]:
s = "Namaste Dunia"

print(s[1]) #INDEXING
print(s[6:11]) #SLICING
print(s[-5:-1])

a
e Dun
Duni

In [11]:
print(s.upper())

NAMASTE DUNIA

In [13]:
print(s.lower())

namaste dunia

### PRINT FORMATTING

In [14]:
name = "Jane Doe"
age = "29"
married = False

In [17]:
print("Hi, my name is {}, I'm {} years old, it is a {} assumption that I am married"
      .format(name, age, married))

Hi, my name is Jane Doe, I'm 29 years old, it is a False assumption that I am married

### BASIC ARITHMETIC

In [19]:
print(2+1) # Addition
print(2+1) # Subtraction
print(2-1) # Multiplication
print(2*2) # Division
print(3/2)


2**3 # Powers
2 + 10 * 10 + 3 # Order of Operations followed in Python
(2+10) * (10+3) # Can use parenthesis to specify orders

3
3
1
4
1.5

156

# [Sesi Siang]

In [20]:
# Identifying Data Types
a = 42
b = 42.40

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

### LIST

In [23]:
my_list = ['A string', 23, 100.232,'o', ['a', 'b']]
len(my_list)

5

In [24]:
my_list.append(3.1)
print(my_list)

['A string', 23, 100.232, 'o', ['a', 'b'], 3.1]

In [25]:
my_list.extend(['c', 'd'])
print(my_list)

['A string', 23, 100.232, 'o', ['a', 'b'], 3.1, 'c', 'd']

### SLICING

In [27]:
print (my_list[2:6])

[100.232, 'o', ['a', 'b'], 3.1]

### DICTIONARIES

In [31]:
my_dict = {'Name' : 'John Doe', 
           'Age' : '31', 
           'Occupation' : 'Data Scientist'}

In [32]:
my_dict['Name']

'John Doe'

In [33]:
my_dict['Age']

'31'

In [34]:
my_dict['Occupation']

'Data Scientist'

### SETS and BOOLEANS

In [37]:
myList = [1,1,2,3,4,4,5,6,6,7,7,7,9, 10.0]

In [38]:
set(myList)

{1, 2, 3, 4, 5, 6, 7, 9, 10.0}